.conteudo{
    background: blue;
    border: 1px solid grey;
    width: 150px;
    height: 150px;
    margin: 10px;
    float: left;
}

#principal{
    background: green;
    border: 3px solid red;
}

/*.conteudo1{
    background: red;
    border: 1px solid grey;
    width: 150px;
    height: 150px;
    margin: 10px;
    float: left;
}*/

.clear{
    clear: left;
}