body {
    background: #d2d2c1 url('imagens/fundo.png');
    font: 16px Arial, Helvetica, sans-serif;
}
#principal {
    width: 900px;
}

#menu {
    background: #c5c5b2;
    padding: 18px;
}

a {
    color: #4b566a;
    /*remover o underline de links*/
    text-decoration: none;
    font-weight: bold;
    /*Espaçamento entre os elementos*/
    padding: 5px;
}

#conteudo {
    background: #e8e8d9;
    padding: 10px;
}

.centralizar {
    text-align: center;
}

h1 {
    color: #828271;
    /*o em é proporcional aos 16px que foram definidos no bory*/
    font-size: 1.2em;

}

.img-campanha {
    border: 10px solid #c3c3ae;
}